$color-2: #08bdbd;
$max-width: 800px;

* {
  box-sizing: border-box;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  border: 1px solid gray;
  padding: 0.5rem 0.75rem;
  box-shadow: none;
  border-radius: 0.5rem;
  background: linear-gradient(
    0deg,
    rgba(mix($color-2, white, 20%), 1),
    rgba(white, 1)
  );
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
  min-height: 102vh;
}

.app {
  padding-bottom: 20rem;

  &__header {
    margin-bottom: 1rem;
  }

  &__button {
    margin-right: 1rem;
  }
}

.slide-toggle {
  outline: 1px solid black;
  max-width: 800px;
  margin: 0 auto 1rem;
  box-sizing: border-box;
  &__header {
    padding: 1rem;
    outline: 1px solid black;
    background: linear-gradient(90deg, rgba($color-2, 1), rgba($color-2, 1));
  }
  &__button {
    font-size: 1rem;
    border: 1px solid gray;
    padding: 0.5rem;
    box-shadow: none;
  }
  &__box {
    overflow: hidden;
  }
  &__box-inner {
    line-height: 1.5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      padding: 0;
      margin-bottom: 1rem;
    }

    button {
      margin-top: 1rem;
    }
  }
}

.state-values {
  padding: 1rem;
  border-top: 1px solid $color-2;
  font-weight: 300;
  span:first-of-type {
    display: inline-block;
    min-width: 8rem;
  }
}

.ease-names {
  padding: 1rem 0;
  span {
    font-weight: 300;
    display: inline-block;
    margin-right: 0.5em;
  }
}
