/* 
  For demo purpose, not required css for the library.
  Use this as inspiration.
*/

$color-2: #08bdbd;
$max-width: 800px;

* {
  box-sizing: border-box;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  border: 1px solid gray;
  padding: 0.5rem 0.75rem;
  box-shadow: none;
  border-radius: 0.5rem;
  background: linear-gradient(
    0deg,
    rgba(mix($color-2, white, 20%), 1),
    rgba(white, 1)
  );
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
  min-height: 102vh;
}

.app {
  padding-bottom: 20rem;
}

.my-collapsible {
  border: 1px solid;
  padding: 1rem;
  margin-bottom: 1rem;
  .btn {
    margin: 0.5rem;
  }
}
.my-collapsible-content {
  overflow: hidden;
  background: #eee;
  > * {
    padding: 2rem 1rem;
  }
}
